<div ng-controller="HomeCtrl">
	<div ng-include="'./Views/Partials/header.html'"></div>
	<div class="container-fluid">
		<div class="panel panel-success big-text">
			<div class="panel-heading">
				<span class="sec-heading2">Landing page content</span>
				<a class="btn btn-success right2" href="#/Menu-1" role="button">Task Queue</a>
			</div>
			<div>
                            You may put some status summary etc. here or any other content relevant for
                            showing on landing screen.
			</div>
		</div>
	</div>
	<!-- /container -->
</div>